# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
.pytest_cache/

# Node / React
node_modules/
build/
.env
.env.local

# AWS
.aws/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
